@import "tailwindcss";

@font-face {
    font-family: 'Open Sans';
    src: url("./assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

@theme {
    --color-primary: #ffd85f;
    --color-background: #deecff;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  @keyframes bounceNew {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
  }
  .docx-viewer p{
    text-align: justify;
  }

  .docx-viewer strong{
    display: inline-block;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
  }

