@import "tailwindcss";

@font-face {
    font-family: 'Open Sans';
    src: url("./assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

@theme {
    --color-primary: #ffd85f;
    --color-background: #deecff;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }